<?xml version="1.0" encoding="utf-8"?>
<launch>


    <!-- Gazebo Configuration -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- Modify here the world you want to load -->
    <!-- <arg name="world_name" default="$(find ridgeback_gazebo)/worlds/ridgeback_race.world" /> -->
    <!-- <arg name="world_name" default="$(find ridgeback_gazebo)/worlds/RPL_lab.world" /> -->
    <arg name="world_name" default="$(find ridgeback_gazebo)/worlds/RPL_lab+table_grasping.world" />




    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="0" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="headless" value="$(arg headless)" />
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="paused" value="false"/>
    </include>


    <!-- These arguments load the electric grippers, for example left_electric_gripper:=true -->
    <arg name="left_electric_gripper" default="true"/>
    <arg name="right_electric_gripper" default="true"/>
    <arg name="ridgeback_config" default="dual_hokuyo_lasers" />
    <arg name="load_robot_description" default="true"/>

    <param if="$(arg load_robot_description)" name="robot_description"
        command="$(find xacro)/xacro --inorder $(find ridgeback_baxter_description)/urdf/ridgeback_baxter.urdf.xacro gazebo:=true
        left_electric_gripper:=$(arg left_electric_gripper) right_electric_gripper:=$(arg right_electric_gripper)"/>
    <node name="rigeback_baxter_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Load Ridgeback's controllers, and teleop nodes. -->
    <include file="$(find ridgeback_control)/launch/control.launch" />
    <include file="$(find ridgeback_control)/launch/teleop.launch">
      <arg name="joystick" value="false"/>
    </include>

    <rosparam param="/gazebo_ros_control/pid_gains">
      front_left_wheel:
        p: 1
        i: 0.1
        d: 0
      front_right_wheel:
        p: 1
        i: 0.1
        d: 0
      rear_left_wheel:
        p: 1
        i: 0.1
        d: 0
      rear_right_wheel:
        p: 1
        i: 0.1
        d: 0
    </rosparam>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  	args="-urdf -param robot_description -x 0 -y 0 -z 0.1 -model ridgeback_baxter" />



    <!-- Load the software version into the ROS Parameter Server -->
    <param name="rethink/software_version" value="1.2.0" />

    <!-- ros_control baxter launch file -->
    <include file="$(find baxter_sim_hardware)/launch/baxter_sdk_control.launch">
        <arg name="right_electric_gripper" value="$(arg right_electric_gripper)"/>
        <arg name="left_electric_gripper" value="$(arg left_electric_gripper)"/>
    </include>



</launch>
