<launch>
  <arg name="config" default="dual_hokuyo_lasers" />

  <param name="robot_description"
         command="$(find ridgeback_description)/scripts/env_run
                  $(find ridgeback_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro --inorder $(find ridgeback_baxter_description)/urdf/ridgeback_baxter.urdf.xacro
                  " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
