<launch>

  <!-- Multi-cameras demo with 3 D435 -->

  <!-- Choose visualization -->
  <arg name="rviz"       default="true" />
  <arg name="rtabmapviz" default="false" />
  <arg name="rgbd_odometry"     default="false"/>
  <arg name="wait_for_transform" default="0.75"/>

  <!-- Enable HW Sync via RS2 API -->
  <!-- <arg name="hw_sync" default="false"/>
  <group if="$(arg hw_sync)">
    <include file="/home/thib/realsenseTests_ws/src/hw_sync/launch/hw_sync.launch" />
  </group> -->
   <!-- sync rgb/depth images per camera -->

 <group ns="camera1">
   <node pkg="nodelet" type="nodelet" name="nodelet_manager1" args="manager"/>
   <node pkg="nodelet" type="nodelet" name="rgbd_sync1" args="standalone rtabmap_ros/rgbd_sync nodelet_manager1">
     <remap from="rgb/image"       to="/camera1/rgb/image_raw"/>
     <remap from="depth/image"     to="/camera1/depth/image_raw"/>
     <remap from="rgb/camera_info" to="/camera1/rgb/camera_info"/>
     <param name="approx_sync"          value="false"/>
   </node>
 </group>

 <group ns="camera2">
   <node pkg="nodelet" type="nodelet" name="nodelet_manager2" args="manager"/>
   <node pkg="nodelet" type="nodelet" name="rgbd_sync2" args="standalone rtabmap_ros/rgbd_sync nodelet_manager2">
     <remap from="rgb/image"       to="/camera2/rgb/image_raw"/>
     <remap from="depth/image"     to="/camera2/depth/image_raw"/>
     <remap from="rgb/camera_info" to="/camera2/rgb/camera_info"/>
     <param name="approx_sync"          value="false"/>
   </node>
 </group>

 <group ns="camera3">
   <node pkg="nodelet" type="nodelet" name="nodelet_manager3" args="manager"/>
   <node pkg="nodelet" type="nodelet" name="rgbd_sync3" args="standalone rtabmap_ros/rgbd_sync nodelet_manager3">
     <remap from="rgb/image"       to="/camera3/rgb/image_raw"/>
     <remap from="depth/image"     to="/camera3/depth/image_raw"/>
     <remap from="rgb/camera_info" to="/camera3/rgb/camera_info"/>
     <param name="approx_sync"          value="false"/>
   </node>
 </group>


  <group ns="rtabmap">

    <!-- Visual SLAM (robot side) -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">

      <!-- 3 Intel RealSense D435 -->
      <param name="rgbd_cameras"     type="int"    value="3"/>
      <remap from="rgbd_image0"       to="/camera1/rgbd_image"/>
      <remap from="rgbd_image1"       to="/camera2/rgbd_image"/>
      <remap from="rgbd_image2"       to="/camera3/rgbd_image"/>

      <param name="frame_id"         type="string" value="base_link"/>
      <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)"/>

      <param name="subscribe_depth"  type="bool"   value="false"/>
      <param name="subscribe_rgbd"   type="bool"   value="true"/>
      <param name="subscribe_scan" type="bool" value="true"/>

      <remap from="odom" to="/odometry/filtered"/>
      <remap from="scan" to="/multi/scan"/>
      <param unless="$(arg rgbd_odometry)" name="odom_frame_id" value="odom"/>
      <param unless="$(arg rgbd_odometry)" name="odom_tf_linear_variance" value="0.001"/>
      <param unless="$(arg rgbd_odometry)" name="odom_tf_angular_variance" value="0.001"/>

      <param name="queue_size" type="int" value="50"/>

      <!-- RTAB-Map's parameters -->
      <param name="Rtabmap/DetectionRate"           type="string" value="1"/> <!-- increase DetectionRate to 2 Hz instead of 1 Hz -->

      <param name="RGBD/NeighborLinkRefining"       type="string" value="true"/>  <!-- Correct odometry using the input lidar topic using ICP -->
      <param name="RGBD/ProximityBySpace"           type="string" value="true"/>  <!-- Find local loop closures based on the robot position in the map -->
      <param name="RGBD/AngularUpdate"              type="string" value="0.1"/>  <!-- The robot should move to update the map -->
      <param name="RGBD/LinearUpdate"               type="string" value="0.1"/>  <!-- The robot should move to update the map -->
      <param name="RGBD/OptimizeFromGraphEnd"       type="string" value="true"/> <!-- On loop closures the graph will be optimized from the first pose in the map  (so /odom and /map will always match together) -->
      <param name="Grid/FromDepth"                  type="string" value="true"/> <!-- If true, the occupancy grid is created from the cloud generated by the depth camera. If false, the occupancy grid is created from the laser scans. -->
      <param name="GridGlobal/MinSize"              type="int" value="50" />    <!-- Minimum map size (m) -->
      <param name="Reg/Force3DoF"                   type="bool" value="true"/>  <!-- Force 3DoF registration: roll, pitch and z won't be estimated -->
      <param name="Reg/Strategy"                    type="string" value="2"/>     <!-- 1=ICP (refine global loop closures found with ICP using the laser scans) -->
      <param name="Grid/MaxObstacleHeight"          type="string" value="2.00"/>
      <!-- Test new parameters -->
      <param name="RGBD/OptimizeMaxError"           type="string" value="2"  /> <!--  rtabmap rejecting loop closures that screw up too much the map -->
      <!--<param name="Grid/NoiseFilteringRadius"       type="string" value="0.01"/> -->  <!-- Noise filtering radius (0=disabled). Done after segmentation. -->
      <!--<param name="Grid/NoiseFilteringMinNeighbors" type="string" value="1" /> -->   <!-- Noise filtering minimum neighbors. -->
      <param name="Grid/3D"                         type="string" value="true" />    <!-- Octomap support. -->
      <param name="Mem/BadSignaturesIgnored"        type="string" value="true"/>  <!-- ignore images with little or no features -->
      <param name="Grid/MaxGroundHeight"            type="string" value="0.05"/>
      <!-- ICP parameters -->
      <param name="Icp/VoxelSize"                   type="string" value="0.05"/> <!-- Scans are filtered down to voxel of 5 cm before doing ICP -->
      <param name="Icp/MaxCorrespondenceDistance"   type="string" value="0.1"/> <!-- Maximum distance between points during registration by ICP -->

      <param name="Vis/EstimationType"              type="string" value="0"/> <!-- should be 0 for multi-cameras -->
      <param name="Vis/CorGuessWinSize"             type="string" value="0"/> <!-- should be 0 for multi-cameras -->

      <!-- RTAB-Map's parameters: do "rosrun rtabmap rtabmap (double-dash)params" to see the list of available parameters. -->
      <param name="Icp/CorrespondenceRatio"      type="string" value="0.2"/>
      <param name="Vis/MinInliers"               type="string" value="15"/>      <!-- 3D visual words minimum inliers to accept loop closure -->
      <param name="Vis/InlierDistance"           type="string" value="0.1"/>    <!-- 3D visual words correspondence distance -->
      <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="0"/>
      <param name="Rtabmap/TimeThr"              type="string" value="0"/>
      <param name="Mem/RehearsalSimilarity"      type="string" value="0.30"/>
  </node>




  <!-- Visualisation RTAB-Map -->
  <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
    <param name="rgbd_cameras"       type="int"    value="3"/>
    <remap from="rgbd_image0"       to="/camera1/rgbd_image"/>
    <remap from="rgbd_image1"       to="/camera2/rgbd_image"/>
    <remap from="rgbd_image2"       to="/camera3/rgbd_image"/>
  <remap from="odom" to="/odometry/filtered"/>
  <remap from="scan" to="/front/scan"/>
  </node>
  </group>


  <!-- Visualization RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/config/demo_robot_mapping.rviz"/>

</launch>
